<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous"></head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
     <div class="container">
         <ul class="nav navbar-nav">
             <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
             <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
             <li><a class="navbar-link" href="{% url 'app1:register' %}">Register</a></li>
             {% if user.is_authenticated %}
                 <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
             {% else %}
                 <li><a class="navbar-link" href="{% url 'app1:user_login' %}">Login</a></li>
             {% endif %}

         </ul>
     </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
</body>
</html>